.header {
  grid-area: header;
  background-color: rgb(242, 242, 242);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

}
.header img {
  padding: 0 0 0 10px;
  width: 40px;
}

.header__title {
  padding: 0 0 0 10px;
}