.sidebar {
  grid-area: sidebar;
  padding: 10px;
  margin: 0;
  list-style-type: none;
  background-color: rgb(36, 30, 36);
  display: flex;
  flex-direction: column;
  padding: 15px 0 0;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
}

.item a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  width: 100%;
  padding: 15px 0 15px 15px;
}

.item:hover {
  background-color: rgb(43, 42, 42);
  cursor: pointer;
}

.item .active {
  color: gold;
  background-color: rgb(43, 42, 42);
}