.sidebar {
  grid-area: sidebar;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: rgb(36, 30, 36);
}

.item a {
  text-decoration: none;
  color: whitesmoke;
}

.active {
  color: gold;
}