.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.users {
    padding: 10px;
    list-style-type: none;
}

.user {

}

.messages {
    padding: 10px;
    list-style-type: none;
}

.message {

}

.active {
    color: red;
}